.product-page-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 32px;
  gap: 16px;
}
.product-main-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 36px;
}
.product-details-left {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
}
.main-image img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}
.other-images {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 16px;
}
.other-images img {
  width: 24%;
  aspect-ratio: 1/1;
  object-fit: cover;
}
.product-details-right {
  min-width: 58%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 28px;
}
.product-main-content .product-page-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.product-page-header-topright {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 4px;
  height: 24px;
}
.product-page-multiple-icons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
}
.product-page-multiple-icons {
  gap: 8px;
}
.product-page-multiple-icons .features-collection {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 12px;
}
.product-page-multiple-icons .indiv-feature {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 4px;
  height: 24px;
}
.product-page-specifications li label {
  color: #808080;
}
.btn-product-rent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 52px;
  padding: 18px 24px;

  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
}
.product-more-details{
  min-height: 200px;
}
.product-more-details li button{
  color: #ADB0BF;
}
.product-more-details li button:hover{
  color: #43418A;
}
.product-more-details li button .active{
  color: #43418A;
}