/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 200px) {
  body {
    background-color: chocolate;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  body {
    background-color: bisque;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 992px) and (min-width: 768px) {
  body {
    background-color: cornflowerblue;
  }
  .row .card .card-body {
    transition: ease-out 0.2s;
    position: absolute;
    /* bottom: -156px; */
    display: none;
    /* top: 0; */
    width: 100%;
    height: 100%;

  }
  .row .card:hover .card-body {
    transition: ease-out 0.2s;
    top: 0px;
    display: flex;
    /* opacity: 0.8; */
    justify-content: center;
    align-items: center;
    /* padding-top: 8px; */
  }
  .card .txt-body {
    transition: ease-out 0.2s;
    color: rgba(0, 0, 0, 0.87);
  }
  .card-body a{
    position: absolute;
    opacity: 1;
    bottom: 8px;
    margin-left: 4px;
    margin-right: 4px;
    width: 95%;
  }
  .card-body a .btn-main{
    /* opacity: 1; */
    width: 100%;
  }
  
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  body {
    background-color: darkolivegreen;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 1230px) {
  body {
    background-color: orange;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 1920px) {
  body {
    background-color: red;
  }
}
